.info{
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns:  3fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
    justify-items: center;
    grid-gap: 0.7rem;
}
.info a{
    color: #2a9d8f;
}

.skills{
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns:  1fr;
    margin: 60px 0 60px 0;
    font-weight: bold;
    font-size: 22px;
    justify-items: center;
    grid-gap: 0.7rem;
}

.skills_elements{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    justify-content: center;
}
.java,
.javascript,
.cpp,
.html,
.react,
.git,
.css{
    transition: box-shadow 1s ease-out;
    border-radius: 8px;
}


.java:hover{
    box-shadow: 1px -1px 10px #DE0000;
}

.javascript:hover{
    box-shadow: 1px -1px 10px #F7DF1D;
}
.cpp:hover{
    box-shadow: 1px -1px 10px #649AD2;
}
.html:hover{
    box-shadow: 1px -1px 10px #E54D26;
}
.react:hover{
    box-shadow: 1px -1px 10px #00D8FF;
}
.git:hover{
    box-shadow: 1px -1px 10px #F05033;

}
.css:hover{
    box-shadow: 1px -1px 10px #264EE4;
}

.java:hover{
    box-shadow: 1px -1px 10px #DE0000;
    transition: box-shadow 1s;
    border-radius: 8px;
}
.javascript:hover{
    box-shadow: 1px -1px 10px #F7DF1D;
    transition: box-shadow 1s;
    border-radius: 8px;
}
.cpp:hover{
    box-shadow: 1px -1px 10px #649AD2;
    transition: box-shadow 1s;
    border-radius: 8px;
}
.html:hover{
    box-shadow: 1px -1px 10px #E54D26;
    transition: box-shadow 1s;
    border-radius: 8px;
}
.react:hover{
    box-shadow: 1px -1px 10px #00D8FF;
    transition: box-shadow 1s;
    border-radius: 8px;
}
.git:hover{
    box-shadow: 1px -1px 10px #F05033;
    transition: box-shadow 1s;
    border-radius: 8px;
}
.css:hover{
    box-shadow: 1px -1px 10px #264EE4;
    transition: box-shadow 1s;
    border-radius: 8px;
}

.rate {
    margin: 0 auto;
    max-width: 960px;
    padding: 0.8rem;
}

.down{
    margin-top: 15px;
}

.font_title{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.font_paragraph{
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
}
.picture{
    margin-top: 2rem;
    width: 215px;
    height: 215px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9rem;
    box-shadow: 1px 1px 1em #98afa8;
    object-fit: cover;
    transition: transform 2s;
}
.picture:hover{
    transform: scale(1.1);
}



@media screen and (max-width: 960px){
    .info{
        grid-template-columns:  3fr 1fr;
    }
}

