.info{
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns:  3fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
    justify-items: center;
    grid-gap: 0.7rem;
}
.info a{
    color: #2a9d8f;
}

.skills{
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns:  1fr 3fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
    justify-items: center;
    grid-gap: 0.7rem;
}

.skills_elements{
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    justify-content: center;
}

.rate {
    margin: 0 auto;
    max-width: 960px;
    padding: 0.8rem;
}

.down{
    margin-top: 15px;
}

.font_title{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.font_paragraph{
    font-family: 'Quicksand', sans-serif;
    font-size: 19px;
}
.picture{
    margin-top: 2rem;
    width: 215px;
    height: 215px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9rem;
    box-shadow: 1px 1px 1em #98afa8;
    object-fit: cover;
    transition: transform 2s;
}
.picture:hover{
    transform: scale(1.1);
}



@media screen and (max-width: 960px){
    .info{
        grid-template-columns:  3fr 1fr;
    }
}

