.navbar {
    top: 0;
    width: 100%;
    padding: 0.8rem;
    background-color: #264653;
    box-shadow: 5px 5px 0.4em #2a9d8f;
}

.rate {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 .8rem;
}

.elements {
    display: grid;
    grid-template-columns: 2fr repeat(3, auto);
}

.name,
.contact,
.projects {
    font-family: 'Raleway', sans-serif;
    padding: 0.6rem;
    border-radius: 0.3rem;
    font-size: 20px;
    color: #ffffff;
    transition: background-color 0.5s;
}

.name:hover,
.contact:hover,
.projects:hover {
    background-color: #2a9d8f;

}

.name {
    justify-self: start;
}

.dot label{
    display:flex;
    flex-direction:column;
    width:70px;
    cursor:pointer;

}

.dot span{
    background: #fff;
    border-radius:10px;
    height:7px;
    margin: 7px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);


}


.dot span:nth-of-type(1){
    width:50%;

}

.dot span:nth-of-type(2){
    width:100%;
}


.dot span:nth-of-type(3){
    width:75%;

}


.dot input[type="checkbox"]{
    display:none;
}


.dot input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(8px,0px)
}


.dot input[type="checkbox"]:checked ~ span:nth-of-type(2){

    transform-origin:top;
    transform:rotatez(-45deg)
}


.dot input[type="checkbox"]:checked ~ span:nth-of-type(3){

    transform-origin:bottom;
    width:50%;
    transform: translate(30px,-11px) rotatez(45deg);

}


@media screen and (max-width: 960px) {
    .elements {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .contact, .projects{
        display: none;
    }
}