.info_projects{
    /*font-family: 'Quicksand', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-auto-rows: auto;
    margin-top: 30px;
    font-weight: bold;
    font-size: 22px;
    justify-items: center;
    grid-gap: 0.3rem;
}


@media screen and (max-width: 960px){
    .info{
        grid-template-columns:  1fr;
    }
}